#wp-user-profiles-page table.form-table textarea {
	width: 25em;
}

#wp-user-profiles-page table.form-table th .description {
	font-weight: normal;
	font-size: 12px;
}

/* Plugin/Legacy Support */
#wp-user-profiles-page #other .inside h2 {
	margin: -6px -12px;
	padding: 7px 12px 10px;
	background-color: #f7f7f7;
	font-weight: 600;
}

#wp-user-profiles-page #pass-strength-result,
#wp-user-profiles-page #pass1,
#wp-user-profiles-page #pass2,
#wp-user-profiles-page #pass1-text {
	width: 20em;
}

#application-passwords-section .notice {
	margin: 0;
	background-color: #fafafa;
}

.create-application-password td {
	padding-right: 0;
}

#new-application-password-value {
	cursor: pointer;
}

.application-passwords-list-table-wrapper .tablenav.top {
	height: 0;
	padding: 0;
	margin: 20px 0 0 0;
}

/* Secondary Nav
-------------------------------------------------------------- */

#profile-subnav {
	margin: 0 0px 10px 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	float: none;
}

#profile-subnav a {
	padding: 13px;
	display: block;
}

#profile-subnav a.current {
	border-bottom: 4px solid #000;
	padding-bottom: 9px;
}

/* Fresh */
.admin-color-fresh #profile-subnav a.current {
	border-bottom-color: #00a0d2;
}

/* Blue */
.admin-color-blue #profile-subnav a.current {
	border-bottom-color: #096484;
}

/* Coffee */
.admin-color-coffee #profile-subnav a.current {
	border-bottom-color: #096484;
}

/* Ectoplasm */
.admin-color-ectoplasm #profile-subnav a.current {
	border-bottom-color: #a3b745;
}

/* Midnight */
.admin-color-midnight #profile-subnav a.current {
	border-bottom-color: #26292c;
}

/* Modern */
.admin-color-modern #profile-subnav a.current {
	border-bottom-color: #3858e9;
}

/* Ocean */
.admin-color-ocean #profile-subnav a.current {
	border-bottom-color: #627c83;
}

/* Sunrise */
.admin-color-sunrise #profile-subnav a.current {
	border-bottom-color: #be3631;
}

/* Light */
.admin-color-light #profile-subnav a.current {
	border-bottom-color: #888;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-bbp-evergreen #profile-subnav a.current {
	border-bottom-color: #36533f;
}

/* Mint */
.admin-color-bbp-mint #profile-subnav a.current {
	border-bottom-color: #4f6d59;
}
